user="root"
password="root"
bind="0.0.0.0"
port=3399
auth=false
#配置文件读取还是MysqlMP获取，可配置file、mp 默认file也可以不配置
mode="file"
#server_url="http://192.168.0.47:8099/getrouteinfo"
##配置高可用用户验证id
#hook_id="WhHYnV1psD9Nyba3EbriIKuPPcTHnu6c"
##配置获取路由信息的集群名称
#cluster=["test1"]

[[platform]]
#platform对应高可用cluster_name
platform="126_3306"
#业务通过set platform设置的名称
platform_sublist=["126_3306"]
write="192.168.1.126:3306"
#连接池建立使用的账号密码
user="test"
password="test@123"
min=1
max=10
auth=false


[[platform]]
#当该platform模块属于mgr复制集时， platform代表该集群名称，不会从高可用获取
platform="169_3306"
#业务通过set platform设置的名称
platform_sublist=["169_3306"]
write="192.168.1.169:3306"
#连接池建立使用的账号密码
user="test"
password="test@123"
min=1
max=10
mgr=true
auth=false

[[platform]]
#当该platform模块属于mgr复制集时， platform代表该集群名称，不会从高可用获取
platform="127_3306"
#业务通过set platform设置的名称
platform_sublist=["127_3306"]
write="192.168.1.127:3306"
#连接池建立使用的账号密码
user="test"
password="test@123"
min=1
max=10
mgr=true
auth=false

[[platform]]
#当该platform模块属于mgr复制集时， platform代表该集群名称，不会从高可用获取
platform="127_3307"
#业务通过set platform设置的名称
platform_sublist=["127_3307"]
write="192.168.1.127:3307"
#连接池建立使用的账号密码
user="test"
password="test@123"
min=1
max=10
mgr=true
auth=false


[[user_info]]
user="test1"
#前端连接使用的密码,可以随意填写
password="test1"
#对应platform模块中的platform_sublist
platform="126_3306"